.accessoriesMenu {
    display: flex;
    justify-content: center;

}

.accessoriesLink {
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin: 1vmax;
    padding: 0.5vmax 0;
}

.accessoriesLink:hover{
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
}